* {
  box-sizing: border-box;
}

.sidebar {
  width: 20%;
}

.btn_upside {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game {
  width: 80%;
}

.game_box {
  height: 143px;
  width: 143px;
  border: solid 1px;
  border-radius: 15px;
  margin: .3em;
}

.game_box img {
    padding: 0px;
    margin: 0px;
}