* {
  box-sizing: border-box;
}

.container {
  width: 60%;
}

.btn_upside {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
    padding: 0px  ;
    margin: 0px;
}

.game_box {
    height: 143px;
    width: 143px;
    border: solid 1px;
    border-radius: 15px;
    margin: .3em;
}

#X {
  border-radius: 50%;
}
#O {
  border-radius: 50%;
}